<div class="container">
  <h1>Login</h1>
  <h3>Welcome to our kingdom</h3>
  <br><br>
   <h1>Create your account</h1>
  
  <form action ="/login" method ="post">
    <p> First Name:</p><input type ="text" name = "first_name" >
    <p> Last Name:</p><input type ="text" name = "last_name">
    <p> Email:</p><input type ="text" name = "email">
    <p> Password:</p><input type ="text" name = "password">
    <input type="submit">
  </form>
</div>
